*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /*10px */
}
  
body {
    font-size: 1.6rem; /*16px*/
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(74, 13, 85)    ;
}

ul {
    display: flex;
    gap: 2.5rem;
    font-size: 2.1rem;
    padding: 2rem 5rem;
    list-style: none;
    color: rgb(19, 231, 19);
    font-weight: bold;
}

#logo {
    margin-right: auto;
    font-size: 2.6rem;
}

.home:hover, .products:hover, .contact:hover{
    color: yellow;
}